* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ebebeb;
}
body a{
    text-decoration: none;
    color: #000;
}
.top-row{
    display: flex;
}
.side-bar{
    width: 260px;
    height: 100%;
    background-color: #fff;
    padding: 10px 14px;
}
.side-bar h4{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .6px;
    margin-top: 15px;
    color: #059212;
    cursor: default;
}
.side-bar .dashboard-links{
    width: 100%;
    height: 470px;
    padding: 10px 0px;
    margin-top: 20px;
}
.dashboard-links .link{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin-bottom: 20px;
}
.dashboard-links .link i{
    font-size: 18px;
    padding-right: 10px;
    color: #D91656;
}
.dashboard-links a, .logout-div a{
    color: #000;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: .4px;
    transition: .2s;
}
.dashboard-links .link a:hover, .logout-div a:hover{
    text-decoration: underline;
}
.logout-div{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.logout-div i{
    font-size: 19px;
    color: #D91656;
}
.logout-div a{
    margin-left: 15px;
}
.dashboard-middle-area{
    width: calc(100% - 260px);
    height: auto;
    background-color: #fff;
    margin: 4px 0px 0px 6px;
    padding: 10px 20px; 
}
.dashboard-middle-area .admin-name{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .7px;
    margin-top: 13px;
}
.dashboard-middle-area .middle-area-logout-div{
    display: none;
}
.dashboard-middle-area .pagination{
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    letter-spacing: .8px;
    transition: .2s;
}
.dashboard-middle-area .pagination a:hover{
    text-decoration: underline;
}
.admin-divs-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.admin-divs-container .linkss{
    width: 280px;
    height: 80px;
    margin-right: 45px;
    margin-bottom: 25px;
}
.admin-divs-container .same-div{
    background-color: #ebebeb7e;
    border-radius: 6px;
    display: flex;
    width: 280px;
    height: 80px;
    padding: 7px;
}
.admin-divs-container .same-div .left{
    width: 70px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.same-div .left i{
    color: #fff;
    font-size: 26px;
}
.admin-divs-container .same-div .right{
    width: calc(280px - 70px);
    height: 100%;
    padding: 8px 15px;
}       
.same-div .right h5{
    font-size: 18px;
    color: #000;
}
.student-table, .course-table, .teacher-table{
    width: 100%;
    height: auto;
    padding: 20px 0px;
}
.student-table table{
    letter-spacing: .6px;
}
.dashboard-middle-area .update-heading{
    font-size: 29px;
    text-decoration: underline;
}
.edit-heading, .add-student-heading{
    font-weight: 500;
    letter-spacing: .7px;
    padding-left: 25px;
    font-size: 17px;
}
.student-table .edit-input, .add-student-value, .teacher-table .edit-input{
    padding: 2px 8px;
    outline: none;
    width: 93%;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: .9px;
    transition: .2s;
    margin-left: 20px;
}
.add-student-value:focus, .edit-input:focus{
    border: 1px solid #0d6efd;
}
.hide-overflow-section{
    overflow: hidden;
}
.edit-detail-link{
    letter-spacing: .5px;
    text-decoration: underline;
    font-size: 19px; 
    color: #006BFF; 
    font-weight: 500;
    display: flex;
}
.add-new-student, .add-new-course{
    text-decoration: underline;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #006BFF;
}
.add-suject-heading{
    font-size: 25px;
    letter-spacing: .4px;
    margin-top: 10px;
}
.form-add-subj{
    width: 100%;
    height: auto;
    padding: 20px 0px;
}
.search-div{
    width: auto;
    height: auto;
    padding: 0px 10px;
    position: relative;
    left: 400px;
    top: -5px;
}
.search-div input{
    font-size: 16px;
    padding: 3px 8px;
    letter-spacing: .6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid;
}